# Entornos virtuales
Contratos/Lib/
Contratos/Scripts/
Contratos/Include/
Contratos/pyvenv.cfg

Android/.venv/


# Horas extras
Horas_web/data/data_web.db
Horas_web/*.txt
Horas_web/*.pyc



# Entornos virtuales
Casa_tv/Lib/
Casa_tv/Scripts/
Casa_tv/Include/
Casa_tv/data/database.db
Casa_tv/pyvenv.cfg


# Entornos virtuales
App_android/Lib/
App_android/Scripts/
App_android/Include/
App_android/data/database.db
App_android/pyvenv.cfg


# Entornos QT Design
QT Design/Lib/
QT Design/Scripts/
QT Design/Include/
QT Design/data/database.db
QT Design/pyvenv.cfg
QT Design/py/
QT Design/ui/


# Horas extras
Horas_extras/data/HorasExtras.db
Horas_extras/data/Empleados.xlsm
Horas_extras/imagenes/Logo.png
Horas_extras/*.txt
Horas_extras/*.pyc
Horas_extras/build/
Horas_extras/dist/
venv/
.env
panel.spec

# Horas extras zuten
Horas_extras_zuten/data/HorasExtras_zuten.db
Horas_extras_zuten/data/Empleados_zuten.xlsm
Horas_extras_zuten/imagenes/Logo.png
Horas_extras_zuten/*.txt
Horas_extras_zuten/*.pyc
Horas_extras_zuten/build/
Horas_extras_zuten/dist/



# Archivos sensibles de Contratos_Flet
Contratos_Flet/.env
Contratos_Flet/env/
Contratos_Flet/__pycache__/
Contratos_Flet/**/__pycache__/
Contratos_Flet/.venv/
Contratos_Flet/venv/
Contratos_Flet/*.pyc
Contratos_Flet/**/*.pyc
Contratos_Flet/.env.*

# Directorios de proyectos
Base\ de\ datos/
Contratos/
Flet/
Proyectos/
Sistema_de_ventas/SQLSERVER/
QT\ Design\ Studio/
QT\ Creator/

# Archivos específicos del Sistema de ventas
Sistema_de_ventas/Video.txt
Sistema_de_ventas/Extension.txt
Sistema_de_ventas/Links_iconos.txt
Sistema_de_ventas/txt/

# Archivos del Sistema de ventas MYSQL
Sistema\ de\ ventas\ MYSQL/Video.txt
Sistema\ de\ ventas\ MYSQL/Extension.txt
Sistema\ de\ ventas\ MYSQL/Links_iconos.txt
Sistema\ de\ ventas\ MYSQL/txt/

# Archivos de Ventas Selact
Ventas\ Selact/1-Send_mail_no_dev.py
Ventas\ Selact/2-send_mail_with_dev.py
Ventas\ Selact/3-correo_Semanal_grafico.py
Ventas\ Selact/4-correo_semanal.py
Ventas\ Selact/5-correo_mensaje.py
Ventas\ Selact/ventas_selact3.py
# Archivos específicos de Ventas Selact
Ventas\ Selact/6-Send_mail_no_dev*
Ventas\ Selact/*.xlsx
Ventas\ Selact/*.xlsm
Ventas\ Selact/*.db
Ventas\ Selact/*.png
Ventas\ Selact/*.txt
Ventas\ Selact/Archivos Horas extras/
Ventas\ Selact/Android/

# Carpetas de sistema y configuración
.vscode/
.idx/


.windsurfrules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Excepciones para Casa_tv_mobile
!Android/Casa_tv_mobile/lib/
!Android/Casa_tv_mobile/lib/**
Android/Casa_tv_mobile/lib/**/build/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
*.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Flet
storage/!