# Ignorar solo el entorno virtual dentro de Entrega_De_equipos
Entrega_De_equipos/Lib/
Entrega_De_equipos/Scripts/
Entrega_De_equipos/Include/
Entrega_De_equipos/pyvenv.cfg

# Asegurarse de que el resto de archivos y carpetas en Entrega_De_equipos no sean ignorados
!Entrega_De_equipos/*

# Archivos y carpetas comunes de Python
*.pyc
__pycache__/
*.egg-info/

# Configuraciones de Visual Studio Code
.vscode/

# Archivos de construcción y distribución
build/
dist/

# Archivos de entorno y bloqueos
.env
*.lock

# Archivos de log
*.log

# Carpetas adicionales
.idx/
