# Ignorar solo el entorno virtual dentro de Entrega_De_equipos
Entrega_De_equipos/Lib/
Entrega_De_equipos/Scripts/
Entrega_De_equipos/Include/
Entrega_De_equipos/pyvenv.cfg

# Asegurarse de que Git incluya las subcarpetas 'Py,' 'Txt,' y 'Ui' en Entrega_De_equipos
!Entrega_De_equipos/Py/
!Entrega_De_equipos/Txt/
!Entrega_De_equipos/Ui/

# Incluir los archivos .py, .txt, y .ui en las subcarpetas
!Entrega_De_equipos/Py/*.py
!Entrega_De_equipos/Txt/*.txt
!Entrega_De_equipos/Ui/*.ui

# Archivos y carpetas comunes de Python
*.pyc
__pycache__/
*.egg-info/

# Configuraciones de Visual Studio Code
.vscode/

# Archivos de construcción y distribución
build/
dist/

# Archivos de entorno y bloqueos
.env
*.lock

# Archivos de log
*.log

# Carpetas adicionales
.idx/
