/* Estilos comunes para varios controles */
QWidget {
    background-color: #deede3;
}
/* Estilos para QGroupBox */
QGroupBox {
    border: 2px solid #1e362d;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--jade-50);
}

QGroupBox:title {
    color: #1e362d;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

/* Estilos para QLabel */
QWidget {
    background-color: var(--jade-50);
}

QLabel {
    color: var(--jade-500);
    font-size: 16px;
    font-weight: bold;
}

/* Estilos para QPushButton */
QPushButton {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #c0dacb, stop: 1 #1e362d);
    color: #ffffff;
    border: 1px solid #1e362d;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

QPushButton:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #689f84, stop: 1 #96bfaa);
    border: 1px solid #96bfaa;
}

QPushButton:pressed {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #2a5242, stop: 1 #32624d);
    border: 1px solid #32624d;
}

/* Estilos para QLineEdit */
QLineEdit {
    background-color: #deede3;
    border: 1px solid #cccccc;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
}

QLineEdit:hover {
    border: 1px solid #689f84;
}

QLineEdit:focus {
    border: 1px solid #689f84;
    outline: none;
}

QLineEdit::placeholder {
    color: #1e362d;
    font-weight: bold;
}

/* Estilos para QTableView */
QTableView {
    background-color: #f2f7f4;
    border: 1px solid #cccccc;
    selection-background-color: #96bfaa;
    selection-color: #ffffff;
}

QTableView QHeaderView {
    background-color: #c0dacb;
    color: #333333;
    border: none;
}

QTableView QHeaderView::section {
    background-color: #deede3;
    color: #333333;
    padding: 6px;
    border: 1px solid #1e362d;
}

QTableView QHeaderView::section:checked {
    background-color: #96bfaa;
    color: #ffffff;
}

QTableView::item {
    padding: 6px;
}

QTableView::item:selected {
    background-color: #96bfaa;
    color: #ffffff;
}

QTableView::item:focus {
    background-color: #96bfaa;
    color: #ffffff;
    outline: none;
}

/* Estilos para QComboBox */
QComboBox {
    background-color: #deede3;
    border: 1px solid #cccccc;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
}

QComboBox:hover {
    border: 1px solid #689f84;
}

QComboBox:focus {
    border: 1px solid #689f84;
    outline: none;
}

QComboBox::placeholder {
    color: #1e362d;
    font-weight: bold;
}

/* Estilos para QTextEdit */
QTextEdit {
    background-color: #deede3;
    border: 1px solid #cccccc;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
}

QTextEdit:hover {
    border: 1px solid #689f84;
}

QTextEdit:focus {
    border: 1px solid #689f84;
    outline: none;
}

/* Estilos para QGraphicsView */
QGraphicsView {
    background-color: #f2f7f4;
    border: 1px solid #cccccc;
}

/* Estilos para QTabWidget */
QTabWidget {
    background-color: #deede3;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

QTabWidget::tab-bar {
    left: 5px;
}

QTabWidget::tab {
    background-color: #deede3;
    border: 1px solid #1e362d;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px 12px;
}

QTabWidget::tab:selected {
    background-color: #c0dacb;
    border: 1px solid #1e362d;
    border-bottom: 1px solid #c0dacb;
}

QTabWidget::pane {
    background-color: #deede3;
    border: 1px solid #1e362d;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Estilos para QDateEdit */
QDateEdit {
    background-color: #deede3;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px;
}

QDateEdit:hover {
    border: 1px solid #689f84;
}

QDateEdit:focus {
    border: 1px solid #689f84;
    outline: none;
}

